<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Practice_1</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="main2.js"></script>

</head>

<body>
    <div class="container" ng-app="myApp" ng-init="header=false;del=false;checked=true" ng-controller="newContrl">
        <!-- Button trigger modal -->
        <button ng-click="Create()" style="position:relative;left:900px" type="button" class="btn btn-default btn-sm" data-toggle="modal"
            data-target="#modal">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <style>
            table,
            th {
                text-align: center;
            }

            th {
                background-color: #2ecc71
            }
        </style>
        <table class="table table-bordered table-hover">
            <tr>
                <th>Name</th>
                <th>College</th>
                <th>Roll No.</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat=" x in students">
                <td ng-hide="true">{{x.StudId}}</td>
                <td>{{x.StudName}}</td>
                <td>{{x.ClgName}}</td>
                <td>{{x.Roll}}</td>
                <td>
                    <button ng-click="Edit(x.StudId)" type="button" class="btn btn-default btn-sm btn-primary" data-toggle="modal" data-target="#modal">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    &nbsp;
                    <button ng-click="Delete($index)" type="button" class="btn btn-default btn-sm  btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </table>
        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                            <strong>Details</strong>
                            <p ng-show="header" class="alert alert-success">
                                <Strong>Success!!</Strong>
                            </p>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <form name="detailForm">
                            <p>{{values}}</p>
                            <input type="hidden" ng-model="index">
                            <label for="">Name :</label>
                            <input id="name" class="form-control" type="text" name="name" ng-model="modalname" placeholder="Enter Name" required>
                            <label for="col">College :</label>
                            <input type="text" ng-bind="{{values.ClgName}}"><!-- <select class="form-control"  ng-model="col" name="col" ng-options="x.ClgName for x in college"></select> -->
                            <label for="roll">Roll No. :</label>
                            <input id="roll" name="roll" class="form-control" ng-model="roll" value="{{values.Roll}}" type="number" placeholder="Enter Roll" required>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" ng-disabled="detailForm.$invalid" ng-click="Save()" class="btn btn-success" value="Submit">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <p ng-show="del" class="alert alert-danger">
            <Strong>Deleted !!</Strong>
        </p>
    </div>
</body>
</html>